$colorAlpha: #AD1FEA;
$colorBeta: #4661E6;
$colorGamma: #373F68;
$colorDelta: #FFFFFF;
$colorEpsilon: #F2F4FF;
$colorDigamma: #F7F8FD;
$colorZeta: #647196;
$colorEta: #647196;
$colorTheta: #F49F85;
$colorIota: #62BCFA;
$colorKappa: #F2F2F2;
$colorLambda: #3A4374;
